

/* roboto-regular - greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-greek-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v20-greek-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-greek-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-greek-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-greek-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-greek-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* @font-face 

@font-face{
    font-family: "Roboto";
    src: '../fonts/Roboto/Roboto-Regular.ttf';
}*/ 

