
/* import fonts from fonts.css file */ 
@import url(./fonts.css);


/* start navigation */ 

html {
    scroll-behavior: smooth;
    
}


.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar .back-button{
    padding: 0 0 0 5rem;
}
.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 600 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    
    color: #4f4f4f;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .navbar .nav-link{
    font: normal 600 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.5rem;
    
    color: #4f4f4f;
}

.header_area .navbar .nav-link:hover{
    color: var(--gradient-color);
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.back-button{
    font: normal 600 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 0.5em;
    color: #4f4f4f;
    background-color: white; 
    padding: left 0; 
    border-radius: 10px;
}

.back-button:hover{
    background-image: var(--gradient-color2);
    color: white;
}
/* end navigation */ 


/* Start About Area */ 

.site-main .about-area{
    padding: 8rem 5rem;
}



/* End About Area */ 





/* Project Area */ 

.site-main .project-area{
    padding: 1rem 0;
}
.site-main .project-area .button-group{
    text-align: left;
    margin-top: 60px;
    margin-bottom: 60px;
}
.site-main .project-area .button-group button{
    background-color: white;
    border: none;
    font: normal 550 16px var(--roboto);
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-group button:hover{
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
    color: var(--primary-color);
}

.site-main .project-area .button-group .active{
    border-radius: 2px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
}

.site-main .project-area .button-group button + button{
    margin-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}


.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

li{
    color: #777777;
    font: normal 500 16px/ 25px var(--roboto);
}

/* End Project Area */ 





/* End About Me */ 

/* Subscribe me */ 



/* End subscribe me */ 

/* Footer Area */ 
footer{
    font: normal 100 15px/2px var(--roboto);

    
    color: var(--title-color);

    padding-bottom: 30px;
    color: #979797;
    background-color: #fafafa;
}

.footer-container{
    font-size: 1em;
    padding-top: 10px;

}



.jumbotron{
    align-self: center;
    background-color: white;
    margin: 1rem 0 2rem 0;
    padding: 1em 16em 1em 16em;
    border-radius: 15px;
    box-shadow: 1px 6px 17px -2px #B6EB7A;
}

.container-highlight-text{
    max-width: 100% !important;
}
.highlight-text-frima{
    color: #17706E;
    background-color: #B6EB7A;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    font: normal 500 18px/ 2em var(--roboto);
}

.img-fluid{
    border-radius: 0.5em;
}
/* End Footer */ 

p.para{
    color: #777777;
    font: normal 500 16px/ 25px  var(--roboto);
}




/* Global Classes */ 

.title-text{
    font: normal bold 50px/ 72px var(--roboto);
}

.text-uppercase{
    text-transform: uppercase;
}

/* Buttons */ 

.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after, .button.secondary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px;  right: -2px;
    background: var(--gradient-color);
    content: ' ';
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.secondary-button:hover{
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}

p.para{
    color: var(--text-color);
    font: normal 500 16px/ 25px var(--roboto);
}

.font-roboto{
    font-family: var(--roboto);
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}

.title-h1{
    font: normal bold 39px/ 40px var(--roboto);
}


.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}


html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.modal{
    padding-right: 0px !important;
}

.modal-dialog{
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    margin-top: 0%;
    margin-bottom: 0%;


}

.modal-header{
    
    border: 0px;
    border-bottom: 0px;
    background-color: var(--modal-backdrop-color);
}

.modal-content{
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
}


.modal-body{
    border: 0px;
    background-color: var(--modal-backdrop-color);
}

.modal-footer{
    border-top: 0px;
    background-color: var(--modal-backdrop-color);
}

.modal-backdrop {
    background-color:rgba(7, 7, 7, 1);
}


.modal-dialog.about-dialog{
    background-color: rgb(255, 255, 255) !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    border-radius: 5px;
}

.modal-header.about-header{
    background-color: rgb(255, 255, 255) !important;
}

.modal-content{
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
}


.modal-body.about-body{
    background-color: rgb(255, 255, 255) !important;
    margin-top: 3%;
}

.modal-footer{
    border-top: 0px;
    background-color: var(--modal-backdrop-color);
}

.modal-backdrop {
    background-color:rgba(7, 7, 7, 1);
}

.error-box{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.to-top-button{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 2%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--text-color); /* Set a background color */
    color: rgb(255, 255, 255); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 2px; /* Some padding */
    border-radius: 40px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    text-align: center;
}

.to-top-button:hover{
    color:var(--gradient-color2);
    background-color: white; /* Add a dark-grey background on hover */
}

/* CSS Variables */ 

:root{
    --primary-color: #495aff;
    --primary-color2: #0acffe;
    --title-color: #141313;
    --text-color: #777777;  
    --border-color: #201f1f17;  
    --gradient-color: linear-gradient(to right, #495aff 80%, #0acffe 100%);
    --gradient-color2:linear-gradient(to right, #495aff 0%, #0acffe 100%);
    --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    --modal-backdrop-color: rgba(7, 7, 7, 0.95);

    /* font family variables. */ 
    --roboto: 'Roboto';
} 

@media screen and (max-width: 420px) {
    body, p, h1, h2 { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;}
}

/*Title animation*/
/* block-$ */

@media screen and (min-width: 901px) {
    .block-effect1 {
        text-align: center;
        font-size: calc(0.3rem + 6vw)!important;
        --td: 0.9s;
    }
    
    .block-effect2 {
        text-align: center;
        font-size: calc(0.3rem + 3vw)!important;
        --td: 1.2s;
        
    }
    
    .block-effect3 {
        text-align: center;
        font-size: calc(0.2rem + 1vw)!important;
        --td: 1.2s;
        
    }
}

@media screen and (max-width: 900px) {
    .block-effect1 {
        text-align: left;
        padding-left: 0px;
        font-size: 3em!important;
        --td: 0.9s;
    }
    
    .block-effect2 {
        text-align: left;
        font-size: 2em!important;
        --td: 1.2s;
        
    }
    
    .block-effect3 {
        text-align: left;
        font-size: 1em!important;
        --td: 1.2s;
        
    }
}

  
.block-reveal {
    --t: calc(var(--td) + var(--d));
  
    color: transparent;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    
    position: relative;
    overflow: hidden;
  
    animation: revealBlock 0s var(--t) forwards;
}
  
.block-reveal::after {
    content: '';
  
    width: 0%;
    height: 100%;
    padding-bottom: 4px;
  
    position: absolute;
    top: 0;
    left: 0;
  
    background-image: var(--gradient-color2);
    animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}
  
  
/* animations */
@keyframes revealBlock {
    100% {
      color: var(--title-color);
    }
}
  
@keyframes revealingIn {
  
    0% {
      width: 0%;
    }
  
    100% {
      width: 100%;
    }
}
  
@keyframes revealingOut {
  
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(100%);
    }
  
}


/*ANIMATION BLOCK*/

