body {
    display: grid;
    margin: 0;
    height: 100vh;
    grid-template: 0.5fr auto 0.5fr / 0.5fr auto 0.75fr
  }
  
  p {
    padding-top: 0.25em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  header {
    font-size: 8px;
    background: #EBECF1;
    padding-left: 1em;
    grid-column: 1 / 4;
  }
  
  .left-sidebar {
    background: #EBECF1;
    grid-column: 1 / 2;
  }
  
  main {
    background: #EBECF1;
    color: #1B1C25;
    padding-top: 4em;
    grid-column: 2 / 3;
  }
  
  .right-sidebar {
    background: #EBECF1;
    position: relative;
    grid-column: 3 / 4;
  }
  
  footer {
    background: #EBECF1;
    color: #1B1C25;
    padding-top: 5rem;
    padding-right: 20rem;
    padding-bottom: 1rem;
    padding-left: 20rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  .footer-heading {
    text-align: center;
    color: #1D406B;
    padding-top: 2rem;
    border-top: 2px solid #206A5D ;
    
  }

  body {
    font-family: system-ui, sans-serif;
  }
  
  .left-sidebar,
  .right-sidebar {
    padding: rem;
  }
  
  .hound {
      position: absolute;
      bottom: 0;
      left : 0;
      padding-bottom: 0px;
  }

  img{
    padding-top: 40px;
    padding-bottom: 70px;
  }
  
h1{
  color:#761A1A; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  word-spacing: 0.25em;
  letter-spacing: 0.125em;
}
h2{
  font-size: 15px;
}
  